<h1>Build Your Hat</h1>
<form id="addhat" class="hatbuilder" action="/orderSummary" accept-charset="UTF-8" method="post">

	<p>Choose brim colour</p>
	<select name="brim" class="brim">
	<option value="Black">Black</option>
	<option value="White">White</option>
	<option value="Grey">Grey</option>
	</select>

	<p>Choose body style</p>
	<select name="body" class="body">
	<option value="Stripe">Stripe</option>
	<option value="Dash">Dash</option>
	<option value="Plain">Plain</option>
	</select>

	<p>Choose pompom colour</p>
	<select name="bobble" class="bobble">
	<option value="Pink">Pink</option>
	<option value="Yellow">Yellow</option>
	<option value="Grey">Grey</option>
	<option value="Orange">Orange</option>
	</select>
	</br>
	<input class="button" type="submit" value="Checkout"/>

</form>		

{{!-- 	<a href="/orderSummary" class="button">Checkout</a> --}}
