<h1>Order Confirmation</h1>
<h3>Order Receipt</h3>
<form class="orderconfirm" action="/" accept-charset="UTF-8" method="get">
	<ul>
		<li>Hat:{{this.image}}</li>
		<li>Quantity:{{this.quantity}}</li>
		<li>Price:{{this.price}}</li>
		<li>Shipping:{{this.shipping}}</li>
	</ul>
	<p>Thanks for your order. We'll pompomify this awesomeness and send it your way soon!!</p>
	{{!-- <input class="button" type="submit" value="Print receipt"/> --}}
</form>