<h1>Order Summary</h1>
<h3>Your hat...</h3>
{{#each data}}
<ul>
	<li>Pompom:{{this.bobble}}</li>
	<li>Body:{{this.body}}</li>
	<li>Brim:{{this.brim}}</li>
</ul>
{{/each}}
<a href="/orderInfo" class="button">Confirm Order</a>
